version: '3'
services:
  proxy:
    image: nginx:latest
    network_mode: host
    restart: always
    volumes:
      - ./nginx.conf:/etc/nginx/nginx.conf
      - ./etc/letsencrypt/live/timmciver.com/:/etc/letsencrypt/live/timmciver.com/

